<h1>Artists Page</h1>

<%= link_to 'Songs Index', "/songs" %>
<%= link_to 'Create New Artist', "/artists/new" %>

<% @artists.each do |artist|%>
    <p><b>artist name :</b> <%= artist.name %> <b>Created:</b> <%= artist.created_at %></p>
<%end%>