<h1> <%= @songs.name %> </h1>

<a href = "/songs">Songs Index</a>
<a href = "/artists">Artist Index</a>

<p>duration (in seconds) : <%=@songs.length %></p>
<p>released as a single? : <%=@songs.is_single %></p>
<p>artist_id : <%= @songs.artist_id %></p>